*{
	margin:0;padding:0;
    box-sizing: border-box;
}
body{
    color:white;
    font-family:"Helvetica Neue", "microsoft yahei", Helvetica, Arial, sans-serif, serif;
    overflow-x:hidden;
}
ul,li,p{
    list-style: none;
}

img{
    border:0;
}
a{
    color:white;
}
.container{
    padding-bottom: 30px;
}
#media:after{
    content: " ";
    display: table;
    clear: both;
}
#media{

    width:80%;
    margin: 30px auto;
}
#media h1,#media h4{
	text-align:center;
	opacity:.6;
	font-weight:normal;
}
#media h4{
	opacity:.2;
	margin-bottom:20px;
}
#media h4:hover,#media h1:hover{
	opacity:1;
}
#media li{
    width:33.3333%;
    padding:10px;
    float:left;
    position: relative;
    overflow: hidden;
}
#media img{
    width:100%;
}
/*.height{*/
    /*height:200px;*/
/*}*/
.desc{
    position: absolute;
    top:0;
    left:-7000px;
    background-color: rgba(0,0,0,.7);
    height:100%;
    width:100%;
    line-height: 32px;
    overflow: hidden;
    /*display: none;*/
}
.desc b{
    position: absolute;
    top:50%;
    left:50%;
    margin-left: -41px;
    margin-top: -21px;
    padding:4px 16px;
    border:1px solid #fff;
    transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    -moz-transition: .5s;
    font-weight: normal;
    border-radius:3px;
    -ms-border-radius:3px;
    -moz-border-radius:3px;
    -o-border-radius:3px;
}
.desc b:hover{
    /*background: #ca4341;*/
    border:1px solid orangered;
    color:orangered;
}

/*canvas*/
html, body {
    background: #000;
    margin: 0;
}

canvas {
    position: absolute;
}
@media screen and (min-width: 990px) and (max-width:1200px){
    #media li{
        width:50%;
    }
}
@media screen and (max-width:989px){
    #media li{
        width:100%;
    }
}